<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container my-5">
    <h3> Edit User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/employee/create}" th:object="${employee}"
                      method="post">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{user.name}" placeholder="Name"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{user.email}" placeholder="Email"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{user.userName}" placeholder="User Name"
                                       class="form-control"/> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>