<p>incident-detail works!</p>

<div *ngIf="incident" class="incidents">
    <h2>{{incident.title | uppercase}} Details</h2>
    <div><span>User: </span>{{incident.user.name}}</div>
    <div *ngIf="incident.employee != null"><span>Employee: </span>{{incident.employee.user.name}}</div>
    <div><span>Description: </span>{{incident.description}}</div>
    <div>
      <a class="btn btn-info" routerLink="/incidents/add/{{incident.id}}">Edit</a>
      <button class="btn btn-primary" *ngIf="user.employee != null" (click)="getIncident()">Get incident</button>
    </div>
</div>