<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/incidents']">Incidcar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="logade" [routerLink]="['/incidents']">Incidents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="user.employee != null" [routerLink]="['/processes']">Processes</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="logade; else elseLogede">
                <div class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="login()">Sing Out</button>
                </div>
            </div>
            <ng-template #elseLogede>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" [(ngModel)]="user.username" type="username" placeholder="username" aria-label="username">
                    <input class="form-control mr-sm-2" [(ngModel)]="user.password" type="password" placeholder="password" aria-label="password">
                    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="login()">Sing In</button>
                </div>
            </ng-template>

        </div>
    </nav>
</header>

<div class="container">
    <router-outlet>
    </router-outlet>
</div>