<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <div th:replace="fragments/header :: header" />

    <div class="container">
        <div sec:authorize="!isAuthenticated()">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br />

                <input type="text" id="user_name" name="user_name" placeholder="User Name" class="form-control" />
                <br />
                <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" />
                <br />

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="Login"></button>
            </form>
            <a th:href="@{/registration}" class="btn btn-link">
                Registre
            </a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            This content is only shown to administrators.
        </div>
 
        <div sec:authorize="hasRole('USER')">
            This content is only shown to users.
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</body>

</html>